In [1]:
#import bokeh
from bokeh.plotting import figure
from bokeh.io import output_file, show
import pandas as pd

In [2]:
#practice dataset from csv

#prepare some data
df = pd.read_csv("data.csv")
x = df["x"]
y = df["y"]

#create a figure object
f = figure()

#create a line plot
f.line(x,y)

show(f)

In [2]:
#practice with reading dataset from link
df1 = pd.read_csv("http://pythonhow.com/data/bachelors.csv")

bachelor = figure()
bachelor.line(df1["Year"], df1["Engineering"])
show(bachelor)

In [13]:
df2  = pd.read_excel("http://pythonhow.com/data/verlegenhuken.xlsx")

f = figure()
f.title.text = "Temperature vs Pressure"
f.title.text_font = 'roboto'
f.title.text_font_style = "bold"
f.title.text_color = "grey"
f.xaxis.minor_tick_line_color=None
f.yaxis.minor_tick_line_color=None
f.xaxis.axis_label = "Temperature"
f.yaxis.axis_label = "Pressure"
f.circle(df2["Temperature"], df2["Pressure"], size = 0.6)
show(f)

In [35]:
# plotting time series graph
df3 = pd.read_csv("abde.csv", parse_dates=["Date"])

f = figure(width=500, height= 500, x_axis_type = "datetime", sizing_mode="stretch_both")

#styling
f.title.text = 'Time Series'
f.title.text_font = 'roboto'
f.title.text_font_style = "bold"
f.title.text_color = "grey"
f.xaxis.minor_tick_line_color=None
f.yaxis.minor_tick_line_color=None
f.xaxis.axis_label = "Date"
f.yaxis.axis_label = "Close"
f.line(df3["Date"], df3["Close"], line_width= 2, alpha = 0.5)

show(f)

In [18]:
df3.head()

        Date   Open   High    Low  Close   Volume
0   2-Aug-12  30.46  30.83  30.25  30.58  2639980
1   1-Aug-12  31.05  31.17  30.64  30.69  2738740
2  31-Jul-12  30.99  31.27  30.84  30.88  2662853
3  30-Jul-12  31.89  31.95  30.92  31.01  4261193
4  27-Jul-12  31.26  32.00  31.17  31.90  3312890