<a href="https://colab.research.google.com/github/cshyang/coding-projects/blob/master/SWVL_Q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem 4: Python or R Only.
#####Treatment and Control splits are crucial for an effective and fair A-B test. Groups should be as identical as possible. Perform the following in order in your preferred programming language:

In [1]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('SWVL_Growth_Hacker_Case_DataSets').sheet1

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
import pandas as pd
df = pd.DataFrame(rows)
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.head()

0                        booking_id  ... rating
1  85db66ce82d06424d07bab3a85890243  ...      4
2  d9c7b92be26d46d38dfdfeefb8b3bb53  ...      5
3  c86861eeb58e6844ec864a85d5b9664c  ...      5
4  7b613cb35ef01e0c180e403923675fa1  ...      5
5  b326facd4dbe726b2d556b348c73ac86  ...      5

[5 rows x 17 columns]

a)Read your booking data and filter all users who completed at least 1 booking in the last 30 days.

c) Calculate how many bookings completed by each user in the last 30 days.

In [2]:
#import pandasql to run sql query on pandas dataframe
!pip install pandasql
import pandasql as ps

q = """
        select 
          user_id
          , sum(1) as last_30days_bookings
          , max(date(booking_date_stamp)) as last_booking_date
        from 
          df 
        where 
          status = 'completed' 
        and 
          date(booking_date_stamp) >= date('2021-05-07')
        and
          date(booking_date_stamp) <= date('2021-06-06')
        group by
          1
    """

agg = ps.sqldf(q)
agg.head()

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.15)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->pandasql) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->pandasql) (3.7.4.3)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-cp37-none-any.whl size=26784 sha256=9d00786271c25febb1231d771cf5a210c6f564ba6a85d126df613e7a141a592b
  Stored in directory: /root/.cache/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

                            user_id  last_30days_bookings last_booking_date
0  000c7257a5ea078a05e0c7716e4c4522                     1        2021-05-24
1  00111f083d1ef214b82118d04bfd9fa2                     6        2021-05-17
2  00140a6c46900e2c34bb5cf89f61df7d                     5        2021-06-06
3  0054850a1acb68ff3785390c184ea841                     1        2021-06-04
4  00648f45109d7885f944a8659df943a8                     1        2021-05-13

b) Calculate the days passed since the last completed booking for each user, let’s call this inactivity days.

In [17]:
#calculate days_since_last_order

agg['current_date'] = pd.to_datetime('today').strftime("%Y-%m-%d")
agg[['current_date', 'last_booking_date']] = agg[['current_date', 'last_booking_date']].apply(pd.to_datetime)
agg['days_since_last_order'] = agg['current_date'] - agg['last_booking_date']

agg.head()

                            user_id  ...  days_since_last_order
0  000c7257a5ea078a05e0c7716e4c4522  ...                20 days
1  00111f083d1ef214b82118d04bfd9fa2  ...                27 days
2  00140a6c46900e2c34bb5cf89f61df7d  ...                 7 days
3  0054850a1acb68ff3785390c184ea841  ...                 9 days
4  00648f45109d7885f944a8659df943a8  ...                31 days

[5 rows x 5 columns]

d) Assign a frequency segment to your selected users: HV 5+ bookings, MV 2-4 bookings and LV 1-2 bookings. Eg: if Mike did 6 completed bookings in the last 30 days we will assign HV to him, if he did 1 booking LV etc.

In [11]:
# label users in to HV, MV and LV based on last_30days_bookings

import numpy as np

agg["segment"] = np.select(
    [
     agg["last_30days_bookings"] >=5,
     agg["last_30days_bookings"].between(3, 4, inclusive=True),
     agg["last_30days_bookings"].between(1, 2, inclusive=True)
    ],
    [
     'HV',
     'MV',
     'LV'
    ],
    default = 'Unknown'
)

agg.groupby("segment",as_index=False)["user_id"].count()

  segment  user_id
0      HV      316
1      LV     1508
2      MV      341

e) Write a code piece as you will to split these users into 2 groups.

In [12]:
#Stratify split using sklear train_test_split

from sklearn.model_selection import train_test_split

y = agg.pop('segment').to_frame()
X = agg

X_test, X_control, y_test, y_control = train_test_split(
        X, y,stratify=y, test_size=0.5)

treatment = pd.concat([X_test, y_test], axis=1)
control = pd.concat([X_control, y_control], axis=1)

       last_30days_bookings       days_since_last_order
count           1082.000000                        1082
mean               2.702403  19 days 02:07:45.804066543
std                3.149699   9 days 13:22:25.696034035
min                1.000000             7 days 00:00:00
25%                1.000000            11 days 00:00:00
50%                2.000000            17 days 00:00:00
75%                3.000000            28 days 00:00:00
max               38.000000            37 days 00:00:00

**f) Check and show that these groups are similar by frequency segment (c) and inactivity days(b) .  Hint: provide and compare summary statistics like, count, mean,median etc.**

In [18]:
# compare the statistic and segment size between treatment and control groups

display(control.describe() )
display(treatment.describe())
display(control.groupby("segment",as_index=False)["user_id"].count() )
display(treatment.groupby("segment",as_index=False)["user_id"].count() )

       last_30days_bookings       days_since_last_order
count           1083.000000                        1083
mean               2.637119  19 days 04:24:35.900277008
std                2.803547   9 days 06:51:58.116483661
min                1.000000             7 days 00:00:00
25%                1.000000            11 days 00:00:00
50%                2.000000            18 days 00:00:00
75%                3.000000            26 days 00:00:00
max               25.000000            37 days 00:00:00

       last_30days_bookings       days_since_last_order
count           1082.000000                        1082
mean               2.702403  19 days 02:07:45.804066543
std                3.149699   9 days 13:22:25.696034035
min                1.000000             7 days 00:00:00
25%                1.000000            11 days 00:00:00
50%                2.000000            17 days 00:00:00
75%                3.000000            28 days 00:00:00
max               38.000000            37 days 00:00:00

  segment  user_id
0      HV      158
1      LV      754
2      MV      171

  segment  user_id
0      HV      158
1      LV      754
2      MV      170

*treatment and control groups have very similar means and standard deviation for last_30days_bookings, and have identical numbers of users in each segment.*